.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distributes space between items */
  background-color: #282c34;
  padding: 10px 20px; /* Decrease padding to reduce header height */
  color: white;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between the logo and additional image */
}

.header-logo {
  height: 70px; /* Decrease the logo size */
  width: 70px;
}

.additional-image {
  height: 50px; /* Set the size of the additional image */
  width: 115px;
}

.header-title {
  flex: 1; /* Takes up remaining space */
  text-align: center;
  margin: 0;
  font-size: 1.5rem; /* Adjust font size if needed */
}

.nav-container {
  display: flex;
  gap: 1rem; /* Space between navigation links */
}

.nav-container a {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
}

.nav-container a:hover {
  text-decoration: underline;
}

.home-container {
  padding: 0; /* Remove padding if needed */
  margin: 0; /* Remove margin if needed */
}

.slider-container {
  width: 100%;
  height: 500px; /* Adjust the height as needed */
  overflow: hidden; /* Hide any overflow */
  background-color: #f0f8ff; /* Optional background color */
}
